.calendar {
    margin-left:80px;
}
.calendar-txt-success {
    color:#60C35F;
    text-weight: bold;
}
.calendar-day {
    width:100%;
    height: 24px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.calender-slot {
    background-color: rgba(205, 212, 221, 0.65);
    height: 24px;
    top:0;
    position: absolute;
}
.calender-hour {
    display:inline-block;
    width:6.25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right:1px solid #CDD4DD;
    height:100%;
    color:#789;
}
.calendar-day-head .calender-hour  {
    border-right: none;
}
.calendar-day-head .calender-hour span {
    margin-left:-5px;
    white-space: nowrap;
}
.calender-hour:first-child {
    border-left:1px solid #CDD4DD;
}
.last-hour {
    text-align: right;
}
.calendar-days .calendar-day {
    text-align: right;
}
.calendar-dayname {
    position: absolute;
    height:24px;
    width:80px;
    left:-80px;
    border-bottom:1px solid #CDD4DD;
    border-right:1px solid #CDD4DD;
    color:#789;
}
.calendar-day-head .calendar-dayname {
    border-right: none;
}

h1 > form {
    display: inline-block;
    font-size: 0.6em;
    vertical-align: middle;
}
h1 > form > input {
    vertical-align: middle;
}

#SetDate .dtpckr {
    border:none;
    border-bottom: 2px dashed;
    cursor: pointer;
}