.calendar {
    margin-left:132px;
}
.calendar-txt-success {
    color:#60C35F;
    text-weight: bold;
}
.calendar-day {
    width:100%;
    height: 64px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.calender-slot {
    background-color: rgba(192, 0, 39, 0.8);
    height: 64px;
    top:0;
    position: absolute;
    cursor: pointer;
}
.calender-slot:active {
    background-color: rgba(205, 212, 221, 1);
}

.calender-hour {
    display:inline-block;
    width:6.25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right:1px solid #CDD4DD;
    height:100%;
    color:#789;
}

.calendar-day-head , .calendar-day-head > div {
    height: 24px;
}
.calendar-day-head .calender-hour  {
    border-right: none;
    vertical-align: bottom;
}
.calendar-day-head .calender-hour span {
    margin-left:-5px;
    white-space: nowrap;
    font-weight: bold;
}
.calender-hour:first-child {
    border-left:1px solid #CDD4DD;
}
.last-hour {
    text-align: right;
}
.calendar-days .calendar-day {
    text-align: right;
}
.calendar-dayname {
    position: absolute;
    height:64px;
    width:132px;
    left:-132px;
    border-bottom:1px solid #CDD4DD;
    border-right:1px solid #CDD4DD;
    color:#789;
    font-weight: bold;
    padding-right: 1em;
}
.calendar-day-head .calendar-dayname {
    border-right: none;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #c00027;
    vertical-align: middle;
}
h1 > img {
    margin-top:-6px;
}
h1 > form {
    display: inline-block;
    font-size: 0.6em;
    vertical-align: middle;
}
h1 > form > input {
    vertical-align: middle;
    width:136px;
}

#SetDate .dtpckr {
    border:none;
    border-bottom: 2px dashed;
    cursor: pointer;
}